$black: #000;
$white: #fff;
$red: #fe0000;
$title: #535353;
$text: #777;
$borderLine: #acacac;
$shadow: rgba(0, 0, 0, 0.5);

//offer
$blue: #3a8eb9;
$gray: #a0a0a0;

//---------- offer - :hover - button
$hoverBlue: #3285b0;
$hoverGray: #949494;

//payment
$green: #95c11f;
$payLine: #d8d6d6;
$payBtn: #93bc5a;
$infoDescriptoin: #575757;
$ask: #b3b9c1;
$infoPriseBlue: #008db8;
$infoPriseGreen: #76c218;
$infoLink: #77bd58;
$address: #b9b8b8;
$bgSend: #efebeb;
//---------- paymant - :hover - button
$hoverAsk: #a2a7ae;
$hoverPayBtn: #7c9958;
//---------- active - button
$activePayBtn: #68b260;
